.footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    background: $dark-grey;
    padding-top: 1rem;
    padding-bottom: 1rem;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 0.8rem;
    font-family: 'Oswald', sans-serif;
}