footer{
    position: absolute;
    bottom: 0;
    left: 0;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 2.5rem;
    border-top: 2px solid #444;
    width: 100%;
    box-sizing: border-box;
    color: #aaa;
    font-size: 14px;

    a{
        margin-right: 2rem;
        color: #aaa;
        cursor: pointer;
    }
}

@media screen and (max-width: 776px) {
    footer{
        display: flex;
        justify-content: center;
    }
}