.typewriter {
  display: inline-flex;
  align-items: baseline;
  font-family: $font-mono;
}
.typewriter-text {
  font-family: $font-mono;
  font-size: 1.35rem;
  font-weight: 600;
  color: $green;
}

@media screen and (max-width: 776px) {
  .typewriter-text {
    font-size: 1.1rem;
  }
}
