$background: white;
$color: black;

$dark-grey: rgba(138, 138, 138, 0.384);
// $dark-grey: #1a1a1a;
$sky: rgb(73, 219, 255);
$dark-green: #3c493f;
$dark-yellow: #d6d84f;
$dark-purple: #7a306c;
$dark-sky: #119da4;
$ruby: #d81159;
$tea-green: #DAEFB3;
$orange: #ff7f11;
$slate-grey: #6B818C;
$aquamarine: #7CFFCB;
$screaman-green: #6BF178